<tr data-controller="entry" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id(entry) %>" data-entry-seek-value="<%= entry.region_start %>">
  <td class="px-6 py-4">
    <button class="text-blue-600 hover:text-blue-800"
            data-action="click->transcription#play"
            data-region-id="<%= entry.region_id %>">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
      </svg>
    </button>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :speaker_id, current_user: current_user do %>
      <% if entry.speaker_id %>
        <%= link_to_unless policy(entry).edit?, entry.speaker&.name, user_path(entry.speaker), class: "cursor-pointer hover:text-blue-700 hover:underline" %>
      <% else %>
        "Choose speaker"
      <% end %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :word_or_phrase, current_user: current_user do %>
      <%= entry.word_or_phrase.present? ? entry.word_or_phrase : "Add word or phrase" %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :translation, current_user: current_user do %>
      <%= entry.translation.present? ? entry.translation : "Add translation" %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :quality, current_user: current_user do %>
      <%= entry.quality.present? ? entry.quality : "Set quality" %>
    <% end %>
  </td>
  <% if current_user && entry.user_id == current_user.id %>
    <td class="px-6 py-4">
      <%= link_to dictionary_entry_path(entry) do %>
        <i data-feather="eye"></i>
      <% end %>
    </td>
    <td class="px-6 py-4">
      <%= link_to dictionary_entry_path(entry), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do %>
        <i data-feather="trash"></i>
      <% end %>
    </td>
  <% end %>
</tr>
