<%= turbo_frame_tag dom_id(ceist), class: "table-row", target: "_top", data: { controller: "entry", "entry-url-value": dictionary_entry_path(ceist) } do %>
  <div data-target="entry.abairt" class="table-cell px-6 py-4" contenteditable="true"><%= ceist.word_or_phrase %></div>
  <div data-target="entry.translation" class="table-cell px-6 py-4"  contenteditable="true"><%= ceist.translation %></div>
  <div data-target="entry.notes" class="table-cell px-6 py-4" contenteditable="true"><%= ceist.notes %></div>
  <div data-target="" class="table-cell px-6 py-4">
    <% if ceist.media.attached? && (ceist.media.audio? ||  ceist.media.video?) %>
      <audio src="<%= url_for(ceist.media) %>" preload=true data-target="entry.audio"></audio>
      <button data-action="click->entry#play" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
      </button>
    <% end %>
  </div>
  <%= content_tag :div, data: { controller: 'recorder' }, class: "table-cell px-6 py-4" do %>
    <input type=file data-direct-upload-url="<%= rails_direct_uploads_url %>" data-target="recorder.input" hidden="true" />
    <button data-action="recorder#record" data-target="recorder.recordButton" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow inline-flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
      </svg>
    </button>
    <button data-action="recorder#stop" data-target="recorder.stopButton" class="bg-white hover:bg-red-100 text-red-800 font-semibold py-2 px-4 border border-red-400 rounded shadow inline-flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z" />
      </svg>
    </button>
  <% end %>
  <div class="table-cell px-6 py-4">
    <button data-action="click->entry#deanta"class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow inline-flex items-center">Déanta</button>
  </div>
<% end %>
