<div data-controller="rang" data-rang-id-value="<%= @rang.id %>" id="<%= dom_id(@rang) %>">
  <div class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-800 gap-3">
    <h1 class="mb-2 text-gray-900 dark:text-white">Rang name: <%= @rang.name %></h1>
    <%= button_to "Delete Rang", @rang, method: :delete, data: { turbo: false }, class: "text-white px-3 py-2 bg-red-700"  %>
  </div>
  <div class="p-5 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
    <%= form_with(model: @rang, class: "w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400") do |form| %>
      <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add Student to Rang</label>
      <div data-controller="user" data-user-target="userSearch">
        <input name="userSearch" id="autoCompleteUsers" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm resize border border-gray-300 rounded-md">
      </div>
    <% end %>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
          Current Students
          <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"></p>
      </caption>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Name
          </th>
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <%= student.name %>
          </td>
          <td class="px-6 py-4">
            <%= student.email %>
          </td>
          <td class="px-6 py-4">
            <div class="flex items-center" >
              <div class="h-2.5 w-2.5 rounded-full bg-<%= student.confirmed ? 'green' : 'gray' %>-500 me-2"></div>
              <%= student.confirmed ? "Active" : "Unconfirmed" %>
            </div>
          </td>
          <td class="px-6 py-4">
            <%= button_to @rang, method: :patch, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "flex items-center" do %>
              <%= hidden_field_tag "rang[user_ids][]", @students.ids - [student.id] %>
              <%= hidden_field_tag "delete", true %>
              <i data-feather="trash"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
