<%= form_with(model: rang) do |form| %>
  <% if rang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rang.errors.count, "error") %> prohibited this rang from being saved:</h2>
      <ul>
        <% rang.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :media, class: "block text-sm font-medium text-gray-700" %>
    <%= form.file_field :media, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
