<% if action_name == "show" %>
  <div id="meet" class="w-full" ></div>
<% end %>
<%= turbo_frame_tag "current_rang", class: "w-full" do %>
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" id="rang" data-controller="rang" data-rang-meeting-id-value="abairt-<%= @rang.meeting_id %>" data-current-user-id="<%= @current_user.id %>">
    <div class="flex-1 flex flex-col bg-gray-50">
      <header class="flex-shrink-0 bg-white border-b border-gray-200">
        <div class="flex justify-between px-4 py-3 sm:px-6">
          <h2 class="text-lg font-medium leading-6 text-gray-900">
            <% if other_participents.present? %>
              With <%= other_participents.join(', ') %> <%= link_to "| chat settings and participants", edit_rang_path(@rang), class: "cursor-pointer hover:text-blue-700 hover:underline" if policy(@rang).edit?%>
            <% elsif policy(@rang).edit? %>
              No one to chat with! Add students <%= link_to "here", edit_rang_path(@rang), class: "cursor-pointer hover:text-blue-700 hover:underline" %>
            <% end %>
          </h2>
          <% unless @rang.teacher.email == "ai@abairt.com" %>
            <div class="flex items-center">
              <button id="hang-up" class="p-2 bg-red-700 hidden rounded-full" data-action="click->rang#endMeeting">
                <svg class="h-6 w-6 text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M3.5 2A1.5 1.5 0 002 3.5V5c0 1.149.15 2.263.43 3.326a13.022 13.022 0 009.244 9.244c1.063.28 2.177.43 3.326.43h1.5a1.5 1.5 0 001.5-1.5v-1.148a1.5 1.5 0 00-1.175-1.465l-3.223-.716a1.5 1.5 0 00-1.767 1.052l-.267.933c-.117.41-.555.643-.95.48a11.542 11.542 0 01-6.254-6.254c-.163-.395.07-.833.48-.95l.933-.267a1.5 1.5 0 001.052-1.767l-.716-3.223A1.5 1.5 0 004.648 2H3.5zm9.78.22a.75.75 0 10-1.06 1.06L13.94 5l-1.72 1.72a.75.75 0 001.06 1.06L15 6.06l1.72 1.72a.75.75 0 101.06-1.06L16.06 5l1.72-1.72a.75.75 0 00-1.06-1.06L15 3.94l-1.72-1.72z" fill-rule="evenodd"></path>
                </svg>
              </button>
              <button id="call" class="p-2 bg-green-500 rounded-full" data-action="click->rang#startMeeting">
                <svg class="h-6 w-6 text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" fill-rule="evenodd"></path>
                </svg>
              </button>
            </div>
          <% end %>
        </div>
      </header>
      <div class="h-screen flex flex-col">
        <section class="flex-1 overflow-y-auto" data-rang-target="list" id="messages-list-container">
          <div class="sm:py-6 sm:px-6">
            <div class="mt-8">
              <% if @pagy.prev %>
                <a href="#" data-action="click->rang#prevMessages" class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded-full">Load older messages</a>
              <% end %>
              <div id="messages_list">
                <%= turbo_frame_tag "paginate_page_#{@pagy.page}" do %>
                  <% current_day = nil %>
                  <% if @pagy.prev %>
                    <%= turbo_frame_tag "paginate_page_#{@pagy.prev}", src: rang_path(@rang, page: @pagy.prev), loading: 'lazy', class: "previous-messages hidden"  do %>
                      Loading...
                    <% end %>
                  <% end %>
                  <% @messages.each do |message| %>
                    <%= next unless message.speaker %>

                    <%= render 'message', message: message, current_user: current_user, current_day: current_day, autoplay: false %>
                    <% current_day = message.updated_at.strftime("%a, %b %d, %Y") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="sticky bottom-0 w-full p-6 mt-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <%= form_with(model: [@rang, @new_dictionary_entry], class: "flex flex-col sm:flex-row space-x-4 space-y-2 sm:space-y-0", data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset", "rang-target": "FixmeWordSearch"}) do |form| %>
      <%= form.text_field :word_or_phrase, class: "w-full sm:w-auto flex-grow py-2 px-4 mb-2 sm:mb-0 border border-gray-300 rounded-full", placeholder: "Gaeilge amháin", id: "autoCompleteWord" %>
      <%= form.text_field :translation, class: "w-full sm:w-auto flex-grow py-2 px-4 mb-2 sm:mb-0 border border-gray-300 rounded-full", placeholder: "Béarla amháin" %>
      <%= content_tag :div, data: { controller: 'recorder' }, class: "px-4 py-2 bg-blue-500 text-white rounded-lg mr-2" do %>
        <%= form.file_field :media, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
        <%= link_to "#", data: { target: 'recorder.recordButton', action: 'click->recorder#record' }  do %>
          <i data-feather="mic"></i>
        <% end %>
        <%= link_to "#", data: { target: 'recorder.stopButton', action: 'click->recorder#stop' }, class: "hidden"  do %>
          <i data-feather="circle"></i>
        <% end %>
      <% end %>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg mr-2">
          <i data-feather="send"></i>
        </button>
      <input type="hidden" id="dictionary_entry_rang_ids" name="dictionary_entry[rang_ids][]" value="<%= @rang.id%>">
      <input type="hidden" name="page" value="<%= @pagy.page %>">
    <% end %>
  </div>
<% end %>