<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @rang.name %> <%= @rang.created_at.to_s(:short) %>
</p>
<p>
  <% if current_user %>
    <%= link_to 'Edit', edit_rang_path(@rang)%> |
  <% end %>
  <%= link_to 'Back', rangs_path %>
</p>
<%= turbo_stream_from "dictionary_entries" %>
<%= turbo_frame_tag "new_dictionary_entry", src: new_rang_dictionary_entry_path(@rang), target: "_top" %>
<div id="dictionary_entries">
  <%= render @rang.dictionary_entries %>
</div>
