<%= content_for(:page_title, "Rang: #{truncate(@rang.name, length: 50)}") %>
<div data-controller="rang" data-rang-meeting-id-value="abairt-<%= @rang.meeting_id %>" data-rang-media-value="<%= url_for(@rang.media) if @rang.media.attached? %>" data-rang-regions-value="<%= @regions %>"  >
  <div id="meet"></div>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        múinteoir: <%= link_to @muinteoir.name, muinteoir_path(@muinteoir) %>
        <button data-action="click->rang#startMeeting" class="h-8 px-4 m-2 text-sm text-gray-100 transition-colors duration-150 bg-blue-400 rounded-lg focus:shadow-outline hover:bg-gray-800">Cruinniú</button>
        <% if @rang.media.attached? && !@rang.media.audio? %>
          <%= link_to "Ábhar ranga Íoslódáil", rails_blob_path(@rang.media, disposition: "attachment"), class: "inline-flex items-center h-8 px-4 m-2 text-sm text-gray-100 transition-colors duration-150 bg-blue-400 rounded-lg focus:shadow-outline hover:bg-gray-800" %>
        <% end %>
        <%= link_to 'Edit rang', edit_rang_path(@rang), class: "inline-flex items-center h-8 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-gray-800" if current_user %>
      </p>
      <% if @rang.media.attached? && (@rang.media.audio? ||  @rang.media.video?) %>
          <div id="waveform" data-rang-target="waveform"></div>
          <p data-target="rang.time"></p>
          <button id="play-pause-button" data-action="click->rang#play" class="h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800">Play / Pause</button>
        <% end %>
      <% if current_user %>
        <%= turbo_frame_tag "new_dictionary_entry", src: new_rang_dictionary_entry_path(@rang), target: "_top" %>
      <% end %>
    </div>
  </div>
  <%= form_with(url: update_all_dictionary_entries_path, method: :patch, multipart: true, data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
    <div class="table w-full mt-10">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Focal nó abairt</b></div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Aistriúchán</b></div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Notaí</b></div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Clibeanna</b></div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
            </svg>
          </div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></div>
          <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></div>
        </div>
      </div>
      <% if current_user %>
        <div id="current_user_dictionary_entries" class="table-row-group">
          <%= render @rang.dictionary_entries %>
        </div>
      <% else %>
        <%= turbo_stream_from "dictionary_entries" %>
        <div id="dictionary_entries" class="table-row-group">
          <%= render @rang.dictionary_entries %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>