<%= content_for(:page_title, "Rang: #{truncate(@rang.name, length: 50)}") %>
<div class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center">
<h2 class="text-xl font-bold mb-2">Class Information</h2>
<div class="mb-4">
  <div id="<%= dom_id @rang %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Teacher:</strong>
      <%= @rang.teacher.name %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Students:</strong>
      <%= @rang.users.pluck(:name).join(', ') %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Words and phrases:</strong>
      <%= @rang.dictionary_entries.size %>
    </p>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Show this rang", @rang, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
  <%= link_to 'Edit this rang', edit_rang_path(@rang), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
</div>
