<div id="accordion-collapse" data-accordion="collapse">
  <h2 id="accordion-collapse-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span>Search and Filter</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <form class="space-y-4">
        <div>
          <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
          <div class="mt-1">
            <input type="text" id="search" placeholder="Name or Place" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
          </div>
        </div>
        <div>
          <label for="voice" class="block text-sm font-medium text-gray-700">Voice</label>
          <div class="mt-1">
            <select id="voice" name="voice" class="py-2 px-3 border border-gray-300 rounded-md w-full">
              <option value="">All</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>
        <div>
          <label for="dialect" class="block text-sm font-medium text-gray-700">Dialect</label>
          <div class="mt-1">
            <select id="dialect" name="dialect" class="py-2 px-3 border border-gray-300 rounded-md w-full">
              <option value="">All</option>
              <option value="acaill">Acaill</option>
              <option value="dún_chaocháin">Du Chaocháin</option>
              <option value="tuar_mhic_éadaigh">Túar Mhic Éadaigh</option>
              <option value="an_muirthead">An Mhuirthead</option>
            </select>
          </div>
        </div>
        <div class="text-right">
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Search</button>
        </div>
      </form>
    </div>
  </div>
  <h2>
    <a type="button" href="/voice_recordings/map" data-turbo-frame="recording_list_display" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3">
      <span>View map</span>
      <i data-feather="map"></i>
    </a>
  </h2>
  <h2 id="accordion-collapse-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3 <% if current_user&.edit? %>border-b-0<% end %>" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>Tags</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <h2 class="text-lg font-medium mb-2">Tag Cloud</h2>
      <ul class="flex flex-wrap -mx-1">
        <% @tags.each do |tag| %>
          <li class="my-1 mx-1"><%= link_to tag.name, voice_recordings_path(tag: tag.name), class: "inline-block rounded-full text-sm py-1 px-3 bg-gray-200 hover:bg-gray-300" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if current_user&.edit? %>
    <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span>Tras-scríobh Úr</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <%= form_with(model: @new_voice_recording) do |form| %>
          <div class="mt-1" data-controller="tag" data-tag-target="tagSearch">
            <label for="tag_list" class="block text-sm font-medium text-gray-700">Clibeanna</label>
            <div class="mt-1">
              <%= form.text_area :tag_list, class: "w-full", id: "autoCompleteTags" %>
            </div>
          </div>
          <div class="mt-1">
            <label for="title" class="block text-sm font-medium text-gray-700">Teideal</label>
            <%= form.text_field :title, required: true, class: "w-full" %>
          </div>
          <div class="mt-1">
            <label for="description" class="block text-sm font-medium text-gray-700">Tuairisc</label>
            <%= form.text_area :description, required: false, class: "w-full" %>
          </div>
          <div class="mt-1">
            <%= render "media_upload", form: form %>
          </div>
          <div class="mt-1 w-full text-center mx-auto">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 w-full rounded-md hover:bg-blue-600">Cruthaigh</button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>