
 <turbo-frame id="wave_display" class="w-full">
  <div id="wave-controller" data-controller="transcription" data-transcription-media-value="<%= @recording.media.url if @recording&.media&.attached? %>" data-transcription-regions-value="<%= @regions %>" data-transcription-peaks-value="<%= @recording&.peaks || [] %>">
    <div class="flex flex-col sm:flex-row sm:items-center sm:space-y-4 sm:space-x-4 sm:p-4">
      <% if @recording&.media&.video? %>
        <%= video_tag(@recording.media.url, class: "h-auto sm:max-h-40 w-auto", data: { "transcription-target": "video" }) %>
      <% end %>
      <% if @recording %>
        <div id="waveform" class="flex-grow" data-transcription-target="waveform"></div>
      <% else %>
        <p>You need to load a video or audio recording.</p>
      <% end %>
    </div>

    <div class="flex items-center sm:space-x-4 sm:p-4 w-full">
      <div class="flex flex-col sm:space-y-4 w-full">
        <div id="subtitles" class="space-x-4 p-6 bg-gray-900 text-white w-full">
          <p class="text-white text-xl sm:text-4xl" data-target="transcription.transcription">Transcript of <%= @recording&.title %></p>
          <p><i class="text-white text-xl sm:text-base" data-target="transcription.translation"><%= @recording&.description %></i></p>
        </div>
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 p-4 w-full justify-between">
            <% if action_name == "show" %>
              <%= link_to @recording.prev, data: { turbo: false } do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg>
              <% end %>
            <% end %>
            <button id="play-pause-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-not-allowed" data-action="click->transcription#play">
              No File
            </button>
            <button id="speed-button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" data-action="click->transcription#slower">
              Slower
            </button>
            <label class="flex items-center space-x-2">
              <input id="toggle-english" type="checkbox" class="form-checkbox" checked data-target="transcription.engSubs">
              <span class="ml-2 text-gray-700">English</span>
            </label>
            <label class="flex items-center space-x-2">
              <input id="toggle-irish" type="checkbox" class="form-checkbox" checked data-target="transcription.gaeSubs">
              <span class="ml-2 text-gray-700">Irish</span>
            </label>
            <label class="flex items-center space-x-2">
              <span class="ml-2 text-gray-700">Zoom</span>
              <input data-action="input->transcription#zoom" type="range" min="0" max="100" value="50" class="w-full">
            </label>
            <label class="flex items-center space-x-2">
              <span lass="ml-2 text-gray-700" data-feather="watch">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
              </span>
              <p data-target="transcription.time" class="w-12 text-right sm:w-auto"> 0.0 </p>
            </label>
            <% if policy(@recording).edit? && action_name == "show" %>
              <%= link_to "edit", edit_voice_recording_path(@recording), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded", data: { turbo: false }  %>
            <% end %>
            <% if action_name == "show" %>
              <%= link_to @recording.next, data: { turbo: false } do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
