<!-- Main Container -->
<div class="flex flex-col md:flex-row min-h-screen">
  <!-- Left Side - Map -->
  <div class="w-full md:w-1/2">
    <div id="map-container" data-controller="map" data-map-pins-value="<%= @pins.to_json %>" class="h-screen">
      <div id="map" class="w-full h-full"></div>
    </div>
  </div>

  <!-- Right Side - Media Cards -->
  <div class="w-full md:w-1/2 h-screen flex flex-col">
    <!-- Search and Filter Controls - Fixed at top -->
    <div class="p-6 bg-white border-b">
      <%= form_tag voice_recordings_path, method: :get, class: "space-y-4",
          data: { controller: "form", turbo_frame: "recordings" } do %>
        <div class="flex gap-4">
          <div class="flex-1">
            <%= text_field_tag :search, params[:search], placeholder: "Search recordings...",
                class: "w-full px-4 py-2 border rounded-lg",
                data: { action: "change->form#submit" } %>
          </div>
          <div class="flex-none">
            <%= select_tag :dialect,
                options_for_select(User.dialects.keys.map { |d| [d.humanize, d] }, params[:dialect]),
                prompt: "Filter by dialect",
                class: "px-4 py-2 border rounded-lg",
                data: { action: "change->form#submit" } %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Recording Cards - Scrollable -->
    <div class="flex-1 overflow-y-auto px-6 py-4" data-controller="infinite-scroll">
      <%= turbo_frame_tag "recordings" do %>
        <div id="recordings-container" class="grid gap-6" data-infinite-scroll-target="container">
          <%= render partial: "recording", collection: @recordings %>
        </div>

        <!-- Pagination -->
        <%= render "shared/pagination", pagy: @pagy, infinite_scroll: true %>
      <% end %>
    </div>
  </div>
</div>