<div class="w-full p-4">
  <%# player %>
  <div class="flex items-center space-x-4 p-4">
    <%= render partial: 'waveform', locals: { recording:  @recording, regions: @regions } %>
  </div>
  <%# form %>
  <div class="flex flex-row">
    <% if current_user&.teacher? || current_user&.admin? %>
      <div class="w-full p-4 mt-4 bg-gray-100" data-controller="sidebar">
        <%= form_with(model: [@recording, @new_dictionary_entry], class: "space-y-4") do |form| %>
          <% if @new_dictionary_entry.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
              <h2><%= pluralize(@new_dictionary_entry.errors.count, "error") %> prohibited this @new_dictionary_entry from being saved:</h2>
              <ul>
                <% @new_dictionary_entry.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="flex space-x-4">
            <div class="flex-2 space-y-4 flex-grow">
              <label for="speaker_id" class="sr-only">Speaker</label>
              <%= form.text_field :speaker_id, list: "speaker-list", class:  "h-10 py-2 px-3 border border-gray-300 rounded-md w-full", placeholder: "Search for or create new speaker" %>
              <datalist id="speaker-list">
                <% @speaker_names.each do |name| %>
                  <option value="<%= name %>">
                <% end %>
              </datalist>
            </div>
            <div class="flex-2 space-y-4 flex-grow">
              <label for="word_or_phrase" class="sr-only">Irish (leave blank for auto-transcription)</label>
              <%= form.text_area :word_or_phrase, placeholder: "Gaeilge anseo", class: "h-10 py-2 px-3 border border-gray-300 rounded-md w-full" %>
            </div>
            <div class="flex-2 space-y-4 flex-grow">
              <label for="translation" class="sr-only">English</label>
              <%= form.text_area :translation, placeholder: "Translation", class: "h-10 py-2 px-3 border border-gray-300 rounded-md w-full" %>
            </div>
            <div class="flex-1 flex items-end space-y-4">
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Add to transcript</button>
            </div>
          </div>
          <!-- Hidden Fields -->
          <div class="hidden">
            <%= form.hidden_field :region_start %>
            <%= form.hidden_field :region_end %>
            <%= form.hidden_field :region_id %>
            <%= form.hidden_field :voice_recording_id, value: @recording.id %>
          </div>
          <div id="download-container"></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# transcript %>
  <div class="flex-grow p-4">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3" >Speaker</th>
            <th scope="col" class="px-6 py-3" >Range</th>
            <th scope="col" class="px-6 py-3" >Irish</th>
            <th scope="col" class="px-6 py-3" >English</th>
            <th scope="col" class="px-6 py-3" >Audio</th>
            <th scope="col" class="px-6 py-3" ></th>
          </tr>
        </thead>
        <tbody id="transcriptions">
          <% @entries.each do |entry| %>
            <%= render partial: "voice_recordings/dictionary_entries/dictionary_entry", locals: { entry: entry, current_user: current_user, starred: @starred } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-full bg-white rounded-md p-4">
    <%== pagy_nav(@pagy) %>
  </div>
</div>