<%= content_for :page_title do %>
  "Transcription of Media: <%= truncate(@recording.title, length: 50) %>"
<% end %>
<%# player %>
<div data-controller="transcription" data-transcription-media-value="<%= @recording.media.url if @recording.media.attached? %>" data-transcription-regions-value="<%= @regions %>">
  <div class="flex items-center space-x-4 p-4">
    <div id="waveform" class="flex-grow" data-transcription-target="waveform"></div>
  </div>
  <div class="flex items-center space-x-4 p-4">
    <div class="flex flex-col space-y-4">
      <div class="flex items-center space-x-4">
        <button id="play-pause-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-action="click->transcription#play">
          Play
        </button>
        <button id="speed-button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" data-action="click->transcription#slower">
          Slow down
        </button>
        <label class="flex items-center space-x-2">
          <input id="toggle-english" type="checkbox" class="form-checkbox" checked data-target="transcription.engSubs">
          <span class="ml-2 text-gray-700">English Subtitles</span>
        </label>
        <label class="flex items-center space-x-2">
          <input id="toggle-irish" type="checkbox" class="form-checkbox" checked data-target="transcription.gaeSubs">
          <span class="ml-2 text-gray-700">Irish Subtitles</span>
        </label>
        <label class="flex items-center space-x-2">
          <span class="ml-2 text-gray-700">Zoom:</span>
          <input data-action="input->transcription#zoom" type="range" min="0" max="100" value="0">
        </label>
        <label class="flex items-center space-x-2">
          <span class="ml-2 text-gray-700">Playhead:</span>
          <p data-target="transcription.time">0.0 </p>
        </label>
      </div>
      <div id="subtitles" class="flex items-center space-x-4 p-6 bg-gray-50">
        <p class="prose lg:prose-2xl" data-target="transcription.transcription">Transcript</p>
        <i class="prose lg:prose" data-target="transcription.translation">Translation</i>
      </div>
    </div>
  </div>
  <div class="flex flex-row">
    <%# sidebar %>
    <% if current_user&.teacher? || current_user&.admin? %>
      <div class="flex-shrink-0 w-100 bg-gray-100 p-4 mt-4"  data-controller="sidebar">
        <div class="flex flex-col space-y-4">
          <%# <h2 class="text-lg font-medium text-gray-900 mb-4">New transcription</h2> %>
          <%= form_with(model: [@recording, @new_dictionary_entry], class: "space-y-4") do |form| %>
            <% if @new_dictionary_entry.errors.any? %>
              <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
                <h2><%= pluralize(@new_dictionary_entry.errors.count, "error") %> prohibited this @new_dictionary_entry from being saved:</h2>
                <ul>
                  <% @new_dictionary_entry.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= form.label :user_ids, "Speaker" %>
            <div class="mt-1">
              <%= form.collection_select :speaker_id, @recording.users, :id, :name, {}, {} %>
            </div>
            <label for="word_or_phrase" class="block text-sm font-medium text-gray-700">Irish</label>
            <div class="mt-1">
              <%= form.text_area :word_or_phrase, placeholder: "Gaeilge anseo", class: "py-2 px-3 border border-gray-300 rounded-md w-full" %>
            </div>
            <label for="translation" class="block text-sm font-medium text-gray-700">English</label>
            <div class="mt-1">
              <%= form.text_area :translation, placeholder: "Translation", class: "py-2 px-3 border border-gray-300 rounded-md w-full" %>
            </div>
            <div class="hidden" data-transcription-target="startRegion">
              <%= form.hidden_field :region_start %>
              <input type="hidden" id="region_start" name="region_start">
            </div>
            <div class="hidden" data-transcription-target="endRegion">
              <%= form.hidden_field :region_end %>
            </div>
            <div class="hidden" data-transcription-target="regionId">
              <%= form.hidden_field :region_id %>
            </div>
            <%= form.hidden_field :voice_recording_id, value: @recording.id %>
            <div id="download-container"></div>
            <div class="text-right">
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 w-full">Add to transcript</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# transcript %>
    <div class="flex-grow p-4">
      <div class="flex flex-col space-y-4">
        <table class="w-full table-fixed">
          <thead>
            <tr class="bg-gray-100 text-left">
              <th class="w-1/6 py-2 px-4 border-gray-200">Speaker</th>
              <th class="w-1/6 py-2 px-4 border-gray-200">Range</th>
              <th class="w-1/6 py-2 px-4 border-gray-200">Irish</th>
              <th class="w-1/6 py-2 px-4 border-gray-200">English</th>
              <th class="w-1/6 py-2 px-4 border-gray-200">Audio</th>
              <th class="w-1/6 py-2 px-4 border-gray-200"></th>
            </tr>
          </thead>
          <tbody id="transcriptions">
            <% @entries.each do |entry| %>
              <tr class="bg-white" id="<%= dom_id(entry) %>">
                <td class="py-2 px-4 border-gray-200"><%= link_to entry.speaker.name, user_path(entry.speaker), class: "cursor-pointer hover:text-blue-700 hover:underline" %></td>
                <td class="py-2 px-4 border-gray-200"><%= entry.region_start.round(1) %>-<%= entry.region_end.round(1) %></td>
                <td class="py-2 px-4 border-gray-200">
                  <%= render "dictionary_entries/inline_edit", model: entry, method: :word_or_phrase, current_user: current_user do %>
                    <%= entry.word_or_phrase.present? ? entry.word_or_phrase : "Add word or phrase" %>
                  <% end %>
                </td>
                <td class="py-2 px-4 border-gray-200">
                  <%= render "dictionary_entries/inline_edit", model: entry, method: :translation, current_user: current_user do %>
                    <%= entry.translation.present? ? entry.translation : "Add translation" %>
                  <% end %>
                </td>
                <td data-controller="entry" class="py-2 px-4 border-gray-200">
                  <a href="#" data-action="entry#play" class="bg-green-500 hover:bg-green-700 mt-2 text-white font-bold py-2 px-4 rounded">
                    <audio src="<%= entry.media.url %>"></audio>
                    play
                  </a>
                </td>
                <td class="py-2 px-4 border-gray-200">
                  <%= link_to dictionary_entry_path(entry), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } do %>
                    <i data-feather="trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= content_for :footer do %>
  <%== pagy_nav(@pagy) %>
<% end %>
