<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id(entry) %>">
  <td class="px-6 py-4"><%= entry.word_or_phrase %></td>
  <td class="px-6 py-4"><%= entry.translation %></td>
  <td data-controller="entry" class="px-6 py-4">
    <% if entry.media.attached? %>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" data-action="entry#play">
        <audio src="<%= entry.media.url %>"></audio>
        play
      </button>
    <% else %>
      <% if current_user == entry.owner %>
        <%= form_with(model: entry) do |form| %>
          <%= render 'dictionary_entries/recorder', form: form, autosave: true %>
        <% end %>
      <% else %>
        <button class="bg-yellow-300 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded" data-action="entry#synth" data-audio-text="<%= entry.word_or_phrase %>">Synth</button>
      <% end %>
    <% end %>
  </td>
  <% if current_user && list.owner == current_user %>
    <% list_entry = WordListDictionaryEntry.find_by(dictionary_entry_id: entry.id, word_list_id: list.id) %>
    <td data-controller="entry" class="px-6 py-4">
      <div class="flex">
        <% if list_entry&.media&.attached? %>
          <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" data-action="entry#play">
            <audio src="<%= list_entry.media.url %>"></audio>
            play
          </button>
        <% end %>
        <%= form_with(model: list_entry) do |form| %>
          <%= render 'dictionary_entries/recorder', form: form, autosave: true %>
        <% end %>
      </div>
    </td>
    <td class="px-6 py-4">
      <%= button_to word_list_dictionary_entries_path, method: :post, form: { data: { turbo_confirm: 'Are you sure?' } }, params: { word_list_dictionary_entry: { dictionary_entry_id: entry.id, word_list_id: list.id }}, class: "flex items-center" do %>
        <i data-feather="trash"></i>
      <% end %>
    </td>
  <% end %>
</tr>
