<!-- Sidebar for CRUD -->
<div class="w-full md:w-1/4 p-4"  data-controller="sidebar">
  <%= render "sidebar" %>
</div>
<!-- Primary Content Area: Two Rectangles -->
<div class="w-full md:w-3/4 p-4">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Description</th>
            <th scope="col" class="px-6 py-3">Words</th>
            <th scope="col" class="px-6 py-3">User</th>
            <th scope="col" class="px-6 py-3">CSV</th>
            <th scope="col" class="px-6 py-3"></th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <% @word_lists.each do |list| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4"><%= list.name %></td>
              <td class="px-6 py-4"><%= truncate(list.description) %></td>
              <td class="px-6 py-4"><%= list.dictionary_entries.size %></td>
              <td class="px-6 py-4"><%= list.owner.name %></td>
              <td class="px-6 py-4"><%= link_to word_list_path(list, format: :csv) do %><i data-feather="download"></i><% end %></td>
              <td class="px-6 py-4"><%= link_to list do %><i data-feather="eye"></i><% end %></td>
              <td class="px-6 py-4"><%= link_to 'Add to Course', new_item_path(itemable_id: list.id, itemable_type: list.class.to_s), class: "text-blue-500 hover:text-blue-700 underline hover:underline font-bold hover:font-normal" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%# footer %>
    <div class="w-full bg-white rounded-md p-4">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
