<!-- Sidebar for CRUD -->
<div class="w-full md:w-1/4 p-4"  data-controller="sidebar">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col">
    <%= link_to word_list_path(@word_list, format: :csv), class: "flex items-center space-x-1 hover:text-blue-700 hover:underline py-2 px-4 bg-gray-100 rounded-lg mb-2" do %>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm4.75 6.75a.75.75 0 011.5 0v2.546l.943-1.048a.75.75 0 011.114 1.004l-2.25 2.5a.75.75 0 01-1.114 0l-2.25-2.5a.75.75 0 111.114-1.004l.943 1.048V8.75z" fill-rule="evenodd"></path>
      </svg>
      Download list as CSV file
    <% end %>
    <% if policy(@word_list).update? %>
      <%= button_to "Generate Monologue", @word_list, method: :patch, params: { generate_script: "true" }, class: "w-full bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded flex items-center space-x-1 mb-2" %>
      <%= button_to "Generate Dialogue", @word_list, method: :patch, params: { generate_script: "true", script_type: "dialogue" }, class: "w-full bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded flex items-center space-x-1 mb-2" %>
    <% end %>
    <%= button_to "Start Learning", learning_sessions_path, method: :post, params: { word_list_id: @word_list.id, learnable: "WordList" }, class: "w-full bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex items-center space-x-1 mb-2", data: { disable_with: "Processing..." } %>
  </div>

  <% if current_user %>

    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col mt-2">
      <form>
        <div class="mb-4">
          <label for="phrase" class="block text-gray-700 text-sm font-bold mb-2">
            How do you say?
          </label>
          <input
            id="phrase"
            name="phrase"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="It's raining">
        </div>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          type="submit" data-turbo-submits-with="Processing...">
          Generate options
        </button>
      </form>
      <% if @results %>
        <h3 class="m-2">Click to add to current list</h3>
        <ul class="divide-y divide-gray-200 mt-2">
        <% @results.each do |result| %>
          <li class="p-3 hover:bg-gray-50">
            <%= button_to @word_list, method: :patch, params: { phrase: params[:phrase], result: result }, data: { disable_with: "Processing..." }, class: "w-full py-2 px-4 rounded flex space-x-1 mb-2" do %>
              <%= result %>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>

    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col mt-2">
      <form>
        <div class="mb-4">
          <label for="idiom" class="block text-gray-700 text-sm font-bold mb-2">
            What's another way to say:
          </label>
          <input
            id="idiom"
            name="idiom"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="I've a really bad hangover.">
        </div>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          type="submit" data-turbo-submits-with="Processing...">
          Search
        </button>
      </form>
      <% if @idioms %>
        <h3 class="m-2">Click to add to current list</h3>
        <ul class="divide-y divide-gray-200 mt-2">
        <% @idioms.each do |result| %>
          <li class="p-3 hover:bg-gray-50">
            <%= button_to @word_list, method: :patch, params: { phrase: result.split('-').last, result: result.split('-').first }, class: "w-full py-2 px-4 rounded flex space-x-1 mb-2" do %>
              <%= result %>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Primary Content Area: Two Rectangles -->
<div class="w-full md:w-3/4 p-4" data-controller="word">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex-grow p-4">
      <div class="flex flex-col space-y-4">
        <table class="w-full table-fixed">
          <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
              <%= @word_list.name %>
              <p id="word-description" class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400 line-clamp-3"> <%= @word_list.description %></p>
              <a href="#" class="text-sm text-blue-500" data-action="word#toggleLineClamp">More</a>
          </caption>
          <thead>
            <tr class="bg-gray-100 text-left">
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Irish</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">English</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Audio</th>
              <% if current_user && @word_list.owner == current_user%>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Practice</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Listen</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Delist</th>
              <% end %>
            </tr>
          </thead>
          <tbody id="dictionary_entries">
            <% @entries.each do |entry| %>
              <%= render partial: "dictionary_entry", locals: { entry: entry, current_user: current_user, list: @word_list } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @word_list.script.present? %>
        <h2 class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">Generated script</h2>
        <div class="flex flex-col space-y-4 p-5" data-controller="entry">
          <%= simple_format(@word_list.script) %>
          <% if false %>
            <%= form_with(model: @word_list) do |form| %>
              <%= render 'synth', form: form %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# footer %>
    <div class="w-full bg-white rounded-md p-4">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
