<%= form_with model: @user, class: "" do |form| %>
  <%= render "users/inline_fields", form: form, method: :name do %>
    <%= form.text_field :name %>
  <% end %>
  <%= render "users/inline_fields", form: form, method: :voice do %>
    <%= form.select :voice, User.voices.keys.map { |voice| [voice.humanize, voice] }, {}, {} %>
  <% end %>
  <%= render "users/inline_fields", form: form, method: :ability do %>
    <%= form.select :ability, User.abilities.keys.map { |ability| [ability.humanize, ability] }, {}, {} %>
  <% end %>
  <%= render "users/inline_fields", form: form, method: :dialect do %>
    <%= form.select :dialect, User.dialects.keys.map { |dialect| [dialect.humanize, dialect] }, {}, {} %>
  <% end %>
  <%= render "users/inline_fields", form: form, method: :about do %>
    <%= form.text_area :about %>
  <% end %>

  <%= render "users/inline_fields", form: form, method: :address do %>
    <div class="mt-1" data-controller="location" data-location-target="locationSearch" data-location-id-value="<%= @user.id %>">
      <%= form.text_area :address, id: "autoCompleteLocationEdit-#{@user.id}", type: "search", class: "w-full"  %>
      <%= form.hidden_field :lat_lang, id: "user-lat-lang-#{@user.id}" %>
    </div>
  <% end %>
  <%= form.button %>
<% end %>
