<h2>User account</h2>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<h3>Your rangs:</h3>
<ul>
  <%= render @user.rangs %>
</ul>
<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>
