<!-- Sidebar for CRUD -->
<div class="w-full md:w-1/4 p-4"  data-controller="sidebar">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center mb-4 p-4">
      <%= link_to word_list_path(id: @user.id, format: :csv), class: "flex items-center space-x-1 hover:text-blue hover:underline" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
          <polyline points="7 10 12 15 17 10"></polyline>
          <line x1="12" y1="15" x2="12" y2="3"></line>
        </svg>
        Download user's contributions as CSV file
      <% end %>
    </div>
  </div>
</div>
<!-- Primary Content Area: Two Rectangles -->
<div class="w-full md:w-3/4 p-4">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <div class="flex-grow p-4">
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
              <%= @user.name %>
              <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"> <%= @user.address %>, <%= @user.voice %>, <%= @user.dialect.humanize %>.</p>
          </caption>
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3" >Irish</th>
              <th scope="col" class="px-6 py-3" >English</th>
              <th scope="col" class="px-6 py-3" >Tags</th>
              <th scope="col" class="px-6 py-3" >Audio</th>
              <% if current_user %>
                <th scope="col" class="px-6 py-3" >Favourites</th>
                <th scope="col" class="px-6 py-3" >Add to List</th>
              <% end %>
            </tr>
          </thead>
          <tbody id="dictionary_entries">
            <% @entries.each do |entry| %>
              <%= render partial: "dictionary_entries/dictionary_entry", locals: { entry: entry, starred: @starred, current_user: current_user } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full bg-white rounded-md p-4">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
