<!-- Sidebar for CRUD -->
<div class="w-full md:w-1/4 p-4"  data-controller="sidebar">
  <%= render "sidebar" %>
</div>
<!-- Primary Content Area: Two Rectangles -->
<div class="w-full md:w-3/4 p-4">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Steps</th>
            <th scope="col" class="px-6 py-3"></th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4"><%= course.name %></td>
              <td class="px-6 py-4"><%= course.items.size %></td>
              <td class="px-6 py-4"><%= link_to course do %><i data-feather="eye"></i><% end %></td>
              <td class="px-6 py-4"><%= link_to edit_course_path(course) do %><i data-feather="edit"></i><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%# footer %>
    <div class="w-full bg-white rounded-md p-4">
      <%#== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
