<!-- component -->
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<%= content_for(:page_title, "Grúpa") %>

<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-gray-50 mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="block pl-2 font-semibold text-xl self-start">
            <h2 class="leading-relaxed">Cur in Eagair</h2>
          </div>
        </div>
        <div class="divide-y">
          <%= form_with(model: @grupa) do |form| %>
            <% if @grupa.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@grupa.errors.count, "error") %> prohibited this @grupa from being saved:</h2>
                <ul>
                  <% @grupa.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="flex flex-col">
                <label class="leading-loose">Ainm</label>
                <%= form.text_field :ainm, class: "px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" %>
              </div>
            </div>
            <div class="pt-4 flex items-center space-x-4">
              <button class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Save</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-gray-50 mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="block pl-2 font-semibold text-xl self-start">
            <h2 class="leading-relaxed">Daltaí</h2>
          </div>
        </div>
        <div class="divide-y">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
             <% @grupa.users.each do |user| %>
              <div class="flex flex-col">
                <span><%= user.email %> | <%= link_to 'scrios', grupa_scrios_dalta_path(grupa_id: @grupa.id, user_id: user.id), class: "text-red-700" %></span>
              </div>
              <% end %>
              <% if @grupa.users.empty? %>
                Níl Dálta ar bith ann go fóill
             <% end %>
             <%= form_with(url: grupa_dalta_nua_path(@grupa)) do |form| %>
            <% if @grupa.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@grupa.errors.count, "error") %> prohibited this @grupa from being saved:</h2>
                <ul>
                  <% @grupa.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="flex flex-col">
                <label class="leading-loose">Riomhphost</label>
                <%= form.email_field :email, class: "px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600", required: true %>
              </div>
            </div>
            <div class="pt-4 flex items-center space-x-4">
              <button class="bg-green-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Cur dalta nua leis an grupa</button>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
