<% flash.each do |key, value| %>
  <div class="bg-<%=flash_class(key) %>-100 border border-<%=flash_class(key) %>-400 text-<%=flash_class(key) %>-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold"><%= key %></strong>
    <span class="block sm:inline"><%= value %></span>
  </div>
<% end %>