<nav class="p-4 bg-gray-900 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <% if current_user %>
            <%= link_to 'Progress', root_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <% else %>
            <a href="/" class="text-2xl font-semibold text-white hover:text-gray-300">
              Abairt
            </a>
          <% end %>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= link_to 'Transcriptions', voice_recordings_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to 'Dictionary', dictionary_entries_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to 'Speakers', users_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to 'Lists', word_lists_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% if current_user.present? %>
              <%= link_to "Chat", rangs_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <div class="ml-3 relative flex items-center">
            <% if current_user.nil? %>
              <%= link_to "Sign Up", new_registration_path, class: "text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <%= link_to "Login", login_path, class: "text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% else %>
              <%= link_to "#{current_user.name} admin", current_user, class: "text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <%= button_to "Log out", logout_path, method: :delete, class: "ml-2 text-white px-3 py-2 rounded-md text-sm font-medium bg-gray-700" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex md:hidden items-center">
        <button data-drawer-target="drawer-navigation" data-drawer-toggle="drawer-navigation" class="text-gray-300 hover:text-white focus:text-white focus:outline-none">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div id="drawer-navigation" class="flex md:hidden items-center fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-gray-800 w-80 dark:bg-gray-800">
      <div class="px-2 pt-2 pb-3 sm:px-3 space-y-1">
        <!-- ... your main navigation for mobile ... -->
        <%= link_to 'Abairt', root_path, class: "text-2xl font-semibold text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <%= link_to 'Transcriptions', voice_recordings_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <%= link_to 'Dictionary', dictionary_entries_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <%= link_to 'Speakers', users_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <%= link_to 'Lists', word_lists_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <% if current_user.present? %>
          <%= link_to "Chat", rangs_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
          <%= link_to current_user.name, current_user, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <% end %>
        <% if current_user.nil? %>
          <%= link_to "Login", login_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
        <% else %>
          <%= button_to "Log out", logout_path, method: :delete, class: "text-white block px-3 py-2 rounded-md text-base font-medium bg-gray-700" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
