<%= turbo_frame_tag dom_id(dictionary_entry), class: "table-row", data: { controller: "entry", "entry-id-value": dictionary_entry.id } do %>
  <div class="table-cell px-6 py-4"><%= dictionary_entry.word_or_phrase %></div>
  <div data-target="rang.cell" class="table-cell px-6 py-4"><%= dictionary_entry.translation %></div>
  <div data-target="rang.cell" class="table-cell px-6 py-4"><%= dictionary_entry.notes %></div>
  <div data-target="rang.cell" class="table-cell px-6 py-4">
    <% dictionary_entry.tag_list.each do |tag| %>
      <%= link_to tag, dictionary_entries_path(tag: tag), target: "_top" %>
    <% end %>
  </div>
  <div data-target="rang.cell" class="table-cell px-6 py-4">
    <% if dictionary_entry.media.attached? && (dictionary_entry.media.audio? ||  dictionary_entry.media.video?) %>
      <audio src="<%= url_for(dictionary_entry.media) %>" preload=true data-target="entry.audio"></audio>
      <button data-action="click->entry#play" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
      </button>
    <% end %>
  </div>
  <% if current_user %>
    <div data-target="rang.cell" class="table-cell px-6 py-4">
      <div class="relative inline-block text-left">
        <div>
          <button type="button" data-action="click->entry#show" class="inline-flex px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="options-menu" aria-expanded="true" aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
          </button>
        </div>
        <div data-action="click->entry#show mouseleave->entry#hide" data-target="entry.dropdown" class="hidden origin-top-right absolute right-20 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
          <div class="py-1" role="none">
            <%= link_to "Edit", edit_dictionary_entry_path(dictionary_entry), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" %>
            <button data-action="click->entry#ceist" class="block bg-white background-transparent px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
              Ceist
            </button>
            <button data-action="click->entry#foghraíocht" class="block bg-white background-transparent px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
              Foghraíocht
            </button>
            <button data-action="click->entry#scrios" class="block bg-white background-transparent px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
              Scrios
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-cell px-6 py-4 whitespace-nowrap <%= "invisible" if dictionary_entry.normal? %>">
      <span data-target="entry.status" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-gray-600">
        <%= dictionary_entry.status %>
      </span>
    </div>
  <% end %>
<% end %>
