<tr id="<%= dom_id dictionary_entry %>" >
  <td><%= dictionary_entry.word_or_phrase %></td>
  <td><%= dictionary_entry.translation %></td>
  <td><%= dictionary_entry.notes %></td>
  <% if dictionary_entry.media.attached? && dictionary_entry.media.audio? %>
    <td><%= tag :audio, src: url_for(dictionary_entry.media), controls: true %></td>
  <% end %>
  <td><%= turbo_frame_tag dom_id(dictionary_entry) do %><%= link_to 'Edit', edit_dictionary_entry_path(dictionary_entry) %><% end %></td>
  <td><%= button_to 'Destroy', dictionary_entry_path(dictionary_entry), method: :delete %></td>
</tr>
