<tr class="bg-white" id="<%= dom_id(entry) %>" data-controller="entry">
  <td class="py-2 px-4 border-gray-200 w-1/4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :word_or_phrase, current_user: current_user do %>
      <%= entry.word_or_phrase.present? ? entry.word_or_phrase : "Add word or phrase"  %>
    <% end %>
  </td>
  <td class="py-2 px-4 border-gray-200 w-1/4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :translation, current_user: current_user do %>
      <%= entry.translation.present? ? entry.translation : "Add translation" %>
    <% end %>
  </td>
  <td data-controller="entry" class="text-center py-2 px-4 border-gray-200 w-1/4">
    <% if entry.media.attached? %>
      <a href="#" data-action="entry#play" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        <audio src="<%= entry.media.url %>"></audio>
        play
      </a>
    <% else %>
      <% if current_user %>
        <%= form_with(model: entry) do |form| %>
          <%= render 'dictionary_entries/recorder', form: form %>
        <% end %>
      <% else %>
        <a href="#" disabled class='bg-grey-500 hover:bg-grey-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer'>No media</a>

      <% end %>
    <% end %>
  </td>
  <td class="py-2 px-4 text-center border-gray-200 w-1/4">
    <% if current_user %>
      <%= button_to word_list_dictionary_entries_path, method: :post, form: { data: { turbo_confirm: 'Are you sure?' } }, params: { word_list_dictionary_entry: { dictionary_entry_id: entry.id, word_list_id: starred.id }}, class: "flex items-center" do %>
        <% if starred.dictionary_entries.include? entry %>
          <i style="fill:gold;" data-feather="star"></i>
        <% else %>
          <i data-feather="star"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user && entry.speaker_id == current_user.id %>
      <%= link_to 'Delete', dictionary_entry_path(entry), method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>
  </td>
</tr>
