<%= turbo_frame_tag dom_id(dictionary_entry), class: "table-row" do %>
  <div class="table-cell"><%= dictionary_entry.word_or_phrase %></div>
  <div class="table-cell"><%= dictionary_entry.translation %></div>
  <div class="table-cell"><%= dictionary_entry.notes %></div>
  <div class="table-cell">
    <% if dictionary_entry.media.attached? && (dictionary_entry.media.audio? ||  dictionary_entry.media.video?) %>
      <%= tag :audio, src: url_for(dictionary_entry.media), controls: true, preload: :none %>
    <% end %>
  </div>
  <% if current_user %>
    <div class="table-cell"><%= link_to 'Edit', edit_dictionary_entry_path(dictionary_entry) %></div>
    <div class="table-cell"><%= button_to 'Destroy', dictionary_entry_path(dictionary_entry), method: :delete %></div>
  <% end %>
<% end %>
