<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id(entry) %>" data-controller="entry" data-entry-id-value="<%= entry.id %>">
  <td class="px-6 py-4">
    <% if current_user %>
      <%= render "dictionary_entries/inline_edit", model: entry, method: :word_or_phrase, current_user: current_user do %>
        <%= entry.word_or_phrase.present? ? entry.word_or_phrase : "Add word or phrase"  %>
      <% end %>
    <% else %>
      <% entry.word_or_phrase.split.each do |word| %>
        <span data-controller="word">
          <span data-action="click->word#focloir touchstart->word#focloir touchend->word#dun" data-word-target="word" class="entry-word"><%= word %></span>
          <template data-word-target="template">
            <div id="tooltip" class="teanglann-template">
              <iframe data-action="mouseleave->word#dun" name="lexclickFrame" style="width: 298px; height: 348px; border: 1px inset #333333;" src="https://www.teanglann.ie/ga/?s=<%= word %>&quickie=true" frameborder="0"></iframe>
            </div>
          </template>
        </span>
      <% end %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :translation, current_user: current_user do %>
      <%= entry.translation.present? ? entry.translation : "Add translation" %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= render "dictionary_entries/inline_edit", model: entry, method: :tag_list, current_user: current_user do %>
      <% entry.tag_list.each do |tag| %>
        <%= link_to tag, dictionary_entries_path(tag: tag), class: "hover:text-blue hover:underline rounded-full px-2 py-1 bg-gray-200 hover:bg-gray-300", data: { turbo: false } %>
      <% end %>
      <%= content_tag :span, "add", class: "rounded-full px-2 py-1 bg-yellow-200" if entry.tag_list.empty? %>
    <% end %>
  </td>
  <% if entry.media.attached? %>
    <td data-controller="entry" class="px-6 py-4">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" data-action="entry#play">
        <audio src="<%= entry.media.url %>"></audio>
        play
      </button>
    </td>
    <% if policy(entry).destroy? %>
      <td class="px-6 py-4">
        <%= button_to dictionary_entry_path(entry), title: "Delete recording", method: :patch, form: { data: { turbo_confirm: 'Delete recording?' } }, params: { dictionary_entry: { purge: true } }, class: "flex items-center" do %>
          <i data-feather="delete"></i>
        <% end %>
      </td>
    <% else %>
      <td class="px-6 py-4"></td>
    <% end %>
  <% else %>
    <td data-controller="entry" class="px-6 py-4">
      <% if current_user %>
        <button class="bg-yellow-300 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded" data-action="entry#synth" data-audio-text="<%= entry.word_or_phrase %>">Synth</button>
      <% else %>
        Log in to hear
      <% end %>
    </td>
    <td data-controller="entry" class="px-6 py-4">
      <% if current_user %>
        <%= form_with(model: entry) do |form| %>
          <%= render 'dictionary_entries/recorder', form: form, autosave: true %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <% if current_user %>
    <td class="px-6 py-4">
      <%= render "dictionary_entries/list", entry: entry %>
    </td>
  <% end %>
  <% if current_user&.admin? || (current_user && entry.speaker_id == current_user.id) %>
    <td class="px-6 py-4">
      <%= link_to dictionary_entry_path(entry) do %>
        <i data-feather="eye"></i>
      <% end %>
    </td>
    <td class="px-6 py-4">
      <%= link_to dictionary_entry_path(entry), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }, class: "" do %>
        <i data-feather="trash"></i>
      <% end %>
    </td>
  <% end %>
</tr>
