<%= form_with(model: [Rang.find(params[:rang_id]), dictionary_entry], class: "container form-inline", data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
  <% if dictionary_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary_entry.errors.count, "error") %> prohibited this dictionary_entry from being saved:</h2>
      <ul>
        <% dictionary_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :word_or_phrase %>
    <%= form.text_field :word_or_phrase %>
  </div>
  <div class="field">
    <%= form.label :translation %>
    <%= form.text_field :translation %>
  </div>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>
  <%= content_tag :div, data: { controller: 'recorder' }, class: "field" do %>
    <br>
    <%= form.file_field :media, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
    <p>
      <%= content_tag :div, "Record",
                      class: 'btn btn-primary btn-record',
                      data: { target: 'recorder.recordButton', action: 'click->recorder#record' } %>
      <%= content_tag :div, "Stop",
                      class: 'btn btn-primary btn-record',
                      data: { target: 'recorder.stopButton', action: 'click->recorder#stop' } %>
    </p>
  <% end %>
  <div class="field">
    <%= form.label :upload_pronunciation %>
    <%= form.file_field :media %>
  </div>
  <div class="field">
    <br>
    <button>Save</button>
  </div>
<% end %>
