<div class="mt-10 mb-10">
  <%= form_with(model: [@rang, dictionary_entry], class: "md:grid md:grid-cols-6 md:gap-6", data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
    <% if dictionary_entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(dictionary_entry.errors.count, "error") %> prohibited this dictionary_entry from being saved:</h2>
        <ul>
          <% dictionary_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="">
      <%= form.label :word_or_phrase, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :word_or_phrase, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="">
      <%= form.label :translation, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :translation, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="">
      <%= form.label :notes, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :notes, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <%= content_tag :div, data: { controller: 'recorder' }, class: "" do %>
      <%= form.file_field :media, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
      <%= content_tag :div, "Record voice",
                        class: 'bg-blue-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                        data: { target: 'recorder.recordButton', action: 'click->recorder#record' } %>
      <%= content_tag :div, "Stop",
                        class: 'bg-red-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                        data: { target: 'recorder.stopButton', action: 'click->recorder#stop' } %>
    <% end %>
    <div class="">
      <%= form.label :upload_pronunciation, class: "block text-sm font-medium text-gray-700" %>
      <%= form.file_field :media, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="">
      <button class="bg-green-400 text-white rounded font-lg mt-5 mr-1 mb-1 px-2 py-2 font-semibold">Save</button>
    </div>
  <% end %>
</div>
