<%= form_with model: @dictionary_entry, class: "" do |form| %>
  <% if @dictionary_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary_entry.errors.count, "error") %> prohibited this dictionary entry from being saved:</h2>
      <ul>
        <% @dictionary_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :word_or_phrase do %>
    <%= form.text_area :word_or_phrase %>
  <% end %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :translation do %>
    <%= form.text_area :translation %>
  <% end %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :speaker_id do %>
    <%= form.select :speaker_id,
      @dictionary_entry.voice_recording&.users&.map { |user| [user.name, user.id] } || [],
      { include_blank: false },
      class: "block w-full pl-7 pr-12 sm:text-sm border border-gray-300 rounded-md" %>
  <% end %>

  <%= render "dictionary_entries/inline_fields", form: form, method: :quality do %>
    <%= form.select :quality,
      DictionaryEntry.qualities.keys,
      { include_blank: false },
      class: "block w-full pl-7 pr-12 sm:text-sm border border-gray-300 rounded-md" %>
  <% end %>

  <%= render "dictionary_entries/inline_fields", form: form, method: :tag_list do %>
    <div data-controller="tag" data-tag-target="tagSearch">
      <%= form.text_area :tag_list, class: "w-full", id: "autoCompleteTags" %>
    </div>
  <% end %>
  <%= form.button %>
<% end %>
