<%= form_with model: @dictionary_entry, class: "" do |form| %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :word_or_phrase do %>
    <%= form.text_area :word_or_phrase %>
  <% end %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :translation do %>
    <%= form.text_area :translation %>
  <% end %>
  <%= render "dictionary_entries/inline_fields", form: form, method: :tag_list do %>
    <div data-controller="tag" data-tag-target="tagSearch">
      <%= form.text_area :tag_list, class: "w-full", id: "autoCompleteTags" %>
    </div>
  <% end %>
  <%= form.button %>
<% end %>
