<%= content_for(:page_title, "Dictionary of Words and Phrases") %>
<div class="flex flex-row">
  <div class="flex-shrink-0 w-64 bg-gray-100 p-4"  data-controller="sidebar">
    <div class="mb-4">
      <nav>
        <ul class="flex flex-col py-2" data-sidebar-target="tabs">
          <li>
            <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab1">Search and Filter</a>
          </li>
          <li>
            <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab3">Tags</a>
          </li>
          <% if current_user %>
            <li>
              <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab4">Lists</a>
            </li>
            <li>
              <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab2">Add to Dictionary</a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
        <form class="space-y-4" action="/dictionary_entries">
          <div>
            <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
            <div class="mt-1">
              <input type="search" id="search" placeholder="Irish or English words" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
            </div>
          </div>
          <div class="flex items-center">
            <input id="checkbox" type="checkbox" name="media" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
            <label for="checkbox" class="ml-2 block text-sm leading-5 text-gray-900">
              Only results with audio
            </label>
          </div>
          <div class="text-right">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Search</button>
          </div>
        </form>
      </div>
      <% if current_user %>
        <div class="tab-pane hidden" id="tab2" data-controller="dictionary-entry">
          <%= form_with(model: @new_dictionary_entry, class: "", data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
            <div class="mt-1">
              <label for="search" class="block text-sm font-medium text-gray-700">Irish</label>
              <div class="mt-1">
                <%= form.text_area :word_or_phrase, class: "w-full" %>
              </div>
            </div>
            <div class="mt-1">
              <label for="search" class="block text-sm font-medium text-gray-700">English</label>
              <div class="mt-1">
                <%= form.text_area :translation, class: "w-full" %>
              </div>
            </div>
            <div class="mt-1" data-controller="tag" data-tag-target="tagSearch">
              <label for="tag_list" class="block text-sm font-medium text-gray-700">Tags</label>
              <div class="mt-1">
                 <%= form.text_area :tag_list, class: "w-full", id: "autoCompleteTags" %>
              </div>
            </div>
            <%= content_tag :div, data: { controller: 'recorder' }, class: "mt-1 w-full text-center mx-auto" do %>
              <%= form.file_field :media, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
              <%= content_tag :div, "Record voice",
                                class: 'bg-green-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                                data: { target: 'recorder.recordButton', action: 'click->recorder#record' } %>
              <%= content_tag :div, "Stop",
                                class: 'bg-red-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                                data: { target: 'recorder.stopButton', action: 'click->recorder#stop' } %>
            <% end %>
            <div class="w-full text-center mx-auto mt-1">
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 w-full rounded-md hover:bg-blue-600">Save</button>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane hidden" id="tab3">
        <aside>
            <h2 class="text-lg font-medium mb-2">Tag Cloud</h2>
            <ul class="flex flex-wrap -mx-1">
              <% @tags.each do |tag| %>
                <li class="my-1 mx-1"><%= link_to tag.name, dictionary_entries_path(tag: tag.name), class: "nline-block rounded-full text-sm py-1 px-3 bg-gray-200 hover:bg-gray-300" %></li>
              <% end %>
            </ul>
          </aside>
      </div>
      <div class="tab-pane hidden" id="tab4">
        <form class="space-y-4" action="/dictionary_entries">
          <div>
            <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
            <div class="mt-1">
              <input type="search" id="search" placeholder="List name" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
            </div>
          </div>
        </form>
        <ul class="divide-y divide-gray-300">
          <% if current_user %>
            <li class="flex items-center py-4"><%= link_to "Starred", list_path(@starred.id), class: "text-blue-500 hover:text-blue-700" %></li>
            <% @lists.each do |list| %>
              <li class="flex items-center py-4"><%= link_to list.name, list_path(list), class: "text-blue-500 hover:text-blue-700" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grow p-4">
    <div class="flex flex-col space-y-4">
      <table class="w-full table-fixed">
        <thead>
          <tr class="bg-gray-100 text-left">
            <th class="w-1/5 py-2 px-4 border-gray-200">Irish</th>
            <th class="w-1/5 py-2 px-4 border-gray-200">English</th>
            <th class="w-1/5 py-2 px-4 border-gray-200 text-center">Audio</th>
            <th class="w-1/5 py-2 px-4 border-gray-200 text-center"></th>
          </tr>
        </thead>
        <tbody id="dictionary_entries">
          <% @dictionary_entries.each do |entry| %>
            <%= render partial: "dictionary_entry", locals: { entry: entry, current_user: current_user, starred: @starred } %>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
