<%= content_for(:page_title, "Dictionary of Words and Phrases") %>
<div class="flex flex-row">
  <div class="flex-shrink-0 w-64 bg-gray-100 p-4">
    <h2 class="text-lg font-medium text-gray-900 mb-4">Search and Filter</h2>
    <form class="space-y-4" action="/dictionary_entries">
      <div>
        <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
        <div class="mt-1">
          <input type="search" id="search" placeholder="Irish or English words" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
        </div>
      </div>
      <div class="flex items-center">
        <input id="checkbox" type="checkbox" name="media" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
        <label for="checkbox" class="ml-2 block text-sm leading-5 text-gray-900">
          Only results with audio
        </label>
      </div>
      <div class="text-right">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Search</button>
      </div>
      <aside>
        <h2 class="text-lg font-medium mb-2">Tag Cloud</h2>
        <ul class="flex flex-wrap -mx-1">
          <% @tags.each do |tag| %>
            <li class="my-1 mx-1"><%= link_to tag.name, dictionary_entries_path(tag: tag.name), class: "nline-block rounded-full text-sm py-1 px-3 bg-gray-200 hover:bg-gray-300" %></li>
          <% end %>
        </ul>
      </aside>
    </form>
  </div>
  <div class="flex-grow p-4">
    <%# begin wave display %>
    <div class="flex flex-col space-y-4">
      <table class="w-full table-fixed">
        <thead>
          <tr class="bg-gray-100 text-left">
            <th class="w-1/5 py-2 px-4 border-gray-200">Irish</th>
            <th class="w-1/5 py-2 px-4 border-gray-200">English</th>
            <th class="w-1/5 py-2 px-4 border-gray-200 text-center">Audio</th>
          </tr>
        </thead>
        <tbody>
          <% @dictionary_entries.each do |entry| %>
            <tr class="bg-white">
              <td class="py-2 px-4 border-gray-200"><%= entry.word_or_phrase %></td>
              <td class="py-2 px-4 border-gray-200"><%= entry.translation %></td>
              <td class="text-center py-2 px-4 border-gray-200">
              <% if entry.media.attached? %>
                <%= audio_tag entry.media.url, controls: true %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
