<p id="notice"><%= notice %></p>
<h1>Abairt</h1>
<%= link_to current_user.email, user_path(current_user) if current_user %>
<%=
   link_to_if(current_user.nil?, "Login", { controller: "sessions", action: "new" }) do
    button_to "Log out", logout_path, method: :delete, class: "link"
   end
%>
<%= render "search" %>
<%= turbo_stream_from "dictionary_entries" %>
<% if current_user %>
  <%= turbo_frame_tag "new_dictionary_entry", src: new_dictionary_entry_path, target: "_top" %>
<% end %>
<div class="data-table">
  <div class="theader container">
    <div><b>Word or phrase</b></div>
    <div><b>Translation</b></div>
    <div><b>Notes</b></div>
    <div><b>Media</b></div>
    <div></div>
    <div></div>
  </div>
  <div id="dictionary_entries">
    <%= render @dictionary_entries %>
  </div>
</div>
<%== pagy_nav(@pagy) %>
<br>
<%= link_to "Download CSV for anki", dictionary_entries_path(@dictionary_entries, format: :csv) %>
