<p id="notice"><%= notice %></p>
<h1>Abairt</h1>
<%= turbo_frame_tag "new_dictionary_entry", src: new_dictionary_entry_path, target: "_top" %>
<%= form_with(url: dictionary_entries_path, class: "form-inline", method: :get) do |form| %>
  <div class="field">
    <%= form.label :search %>
    <%= form.text_field :search %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Word or phrase</th>
      <th>Translation</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="dictionary_entries">
    <%= render @dictionary_entries %>
  </tbody>
</table>
<br>
