<%= content_for(:page_title, "Foclóir") %>
<%= render "search" %>
<%= turbo_stream_from "dictionary_entries" %>
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <div class="table min-w-full divide-y divide-gray-200">
          <div class="table-header-group bg-gray-50">
            <div class="table-row">
              <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Abairt</b></div>
              <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Aistreacháin</b></div>
              <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
                </svg>
              </div>
            </div>
          </div>
          <div id="dictionary_entries" class="table-row-group bg-white divide-y divide-gray-200">
            <%= render partial: "dictionary_entry", collection: @dictionary_entries, as: :dictionary_entry, locals: { current_user: nil } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-6 py-8 h-full flex-grow">
  <div class="flex flex-col sm:flex-row sm:items-center mb-6">
    <%= link_to dictionary_entries_path(@dictionary_entries, format: :csv), class: "bg-transparent text-gray-600 font-semibold py-2 px-4 mr-4 border border-gray-600 rounded inline-flex items-center" do %>
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
      <span>Íoslódáil</span>
    <% end %>
    <%== pagy_nav(@pagy) %>
  </div>
  <div class="flex flex-col sm:flex-row sm:items-center mb-2">

  </div>
</div>
