<%= content_for(:page_title, "Dictionary of Words and Phrases") %>
<div class="flex flex-row">
  <div class="flex-shrink-0 w-64 bg-gray-100 p-4"  data-controller="sidebar">
    <div class="mb-4">
      <nav>
        <ul class="flex flex-col py-2" data-sidebar-target="tabs">
          <li>
            <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab1">Search and Filter</a>
          </li>
          <li>
            <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab3">Tags</a>
          </li>
          <li>
            <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab4">Lists</a>
          </li>
          <% if current_user %>
            <li>
              <a href="#" class="tab-button mb-2 block py-2 px-4 rounded-md text-sm font-medium text-gray-900 bg-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  data-action="sidebar#showTab" data-sidebar-tab-param="tab2">Add to Dictionary</a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
        <form class="space-y-4" action="/dictionary_entries">
          <div>
            <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
            <div class="mt-1">
              <input type="search" id="search" placeholder="Irish or English words" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
            </div>
          </div>
          <div class="flex items-center">
            <input id="checkbox" type="checkbox" name="media" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
            <label for="checkbox" class="ml-2 block text-sm leading-5 text-gray-900">
              Only results with audio
            </label>
          </div>
          <div class="text-right">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Search</button>
          </div>
        </form>
      </div>
      <% if current_user %>
        <div class="tab-pane hidden" id="tab2" data-controller="dictionary-entry">
          <%= form_with(model: @new_dictionary_entry, class: "", data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
            <div class="mt-1">
              <label for="search" class="block text-sm font-medium text-gray-700">Irish</label>
              <div class="mt-1">
                <%= form.text_area :word_or_phrase, class: "w-full" %>
              </div>
            </div>
            <div class="mt-1">
              <label for="search" class="block text-sm font-medium text-gray-700">English</label>
              <div class="mt-1">
                <%= form.text_area :translation, class: "w-full" %>
              </div>
            </div>
            <div class="mt-1" data-controller="tag" data-tag-target="tagSearch">
              <label for="tag_list" class="block text-sm font-medium text-gray-700">Tags</label>
              <div class="mt-1">
                 <%= form.text_area :tag_list, class: "w-full", id: "autoCompleteTags" %>
              </div>
            </div>
            <%= content_tag :div, data: { controller: 'recorder' }, class: "mt-1 w-full text-center mx-auto" do %>
              <%= form.file_field :media, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
              <%= content_tag :div, "Record voice",
                                class: 'bg-green-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                                data: { target: 'recorder.recordButton', action: 'click->recorder#record' } %>
              <%= content_tag :div, "Stop",
                                class: 'bg-red-500 text-white rounded font-lg mt-5 mr-1 mb-1 px-1 py-2 font-semibold',
                                data: { target: 'recorder.stopButton', action: 'click->recorder#stop' } %>
            <% end %>
            <div class="w-full text-center mx-auto mt-1">
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 w-full rounded-md hover:bg-blue-600">Save</button>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane hidden" id="tab3">
        <aside>
            <h2 class="text-lg font-medium mb-2">Tag Cloud</h2>
            <ul class="flex flex-wrap -mx-1">
              <% @tags.each do |tag| %>
                <li class="my-1 mx-1"><%= link_to tag.name, dictionary_entries_path(tag: tag.name), class: "nline-block rounded-full text-sm py-1 px-3 bg-gray-200 hover:bg-gray-300" %></li>
              <% end %>
            </ul>
          </aside>
      </div>
      <div class="tab-pane hidden" id="tab4">
        <form class="space-y-4" action="/dictionary_entries">
          <div>
            <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
            <div class="mt-1">
              <input type="search" id="search" placeholder="List name" name="search" class="py-2 px-3 border border-gray-300 rounded-md w-full">
            </div>
          </div>
        </form>
        <ul class="divide-y divide-gray-300">
          <% @lists.each do |name| %>
            <li class="flex items-center py-4">
              <svg class="w-6 h-6 mr-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12V18M12 18L15 16M12 18L9 16M13 3.00087C12.9045 3 12.7973 3 12.6747 3H8.2002C7.08009 3 6.51962 3 6.0918 3.21799C5.71547 3.40973 5.40973 3.71547 5.21799 4.0918C5 4.51962 5 5.08009 5 6.2002V17.8002C5 18.9203 5 19.4801 5.21799 19.9079C5.40973 20.2842 5.71547 20.5905 6.0918 20.7822C6.5192 21 7.07899 21 8.19691 21H15.8031C16.921 21 17.48 21 17.9074 20.7822C18.2837 20.5905 18.5905 20.2842 18.7822 19.9079C19 19.4805 19 18.9215 19 17.8036V9.32568C19 9.20296 19 9.09561 18.9991 9M13 3.00087C13.2856 3.00347 13.4663 3.01385 13.6388 3.05526C13.8429 3.10425 14.0379 3.18526 14.2168 3.29492C14.4186 3.41857 14.5918 3.59182 14.9375 3.9375L18.063 7.06298C18.4089 7.40889 18.5809 7.58136 18.7046 7.78319C18.8142 7.96214 18.8953 8.15726 18.9443 8.36133C18.9857 8.53376 18.9963 8.71451 18.9991 9M13 3.00087V5.8C13 6.9201 13 7.47977 13.218 7.90759C13.4097 8.28392 13.7155 8.59048 14.0918 8.78223C14.5192 9 15.079 9 16.1969 9H18.9991M18.9991 9H19.0002" />
              </svg>
              <a href="#" class="text-blue-500 hover:text-blue-700"><%= name %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grow p-4">
    <div class="flex flex-col space-y-4">
      <table class="w-full table-fixed">
        <thead>
          <tr class="bg-gray-100 text-left">
            <th class="w-1/5 py-2 px-4 border-gray-200">Irish</th>
            <th class="w-1/5 py-2 px-4 border-gray-200">English</th>
            <th class="w-1/5 py-2 px-4 border-gray-200 text-center">Audio</th>
            <th class="w-1/5 py-2 px-4 border-gray-200 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <% @dictionary_entries.each do |entry| %>
            <tr class="bg-white">
              <td class="py-2 px-4 border-gray-200"><%= entry.word_or_phrase %></td>
              <td class="py-2 px-4 border-gray-200"><%= entry.translation %></td>
              <td data-controller="entry" class="text-center py-2 px-4 border-gray-200">
                <% if entry.media.attached? %>
                  <a href="#" data-action="entry#play" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    <audio src="<%= entry.media.url %>"></audio>
                    play
                  </a>
                <% else %>
                  <span>no media</span>
                <% end %>
              </td>
              <td class="py-2 px-4 text-center border-gray-200">
                <% if entry.speaker_id == current_user.id %>
                  <%= link_to 'Delete', dictionary_entry_path(entry), method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
