<p id="notice"><%= notice %></p>
<%= turbo_frame_tag "dictionary_entry" do %>
  <p>
    <strong>Word or phrase:</strong>
    <%= @dictionary_entry.word_or_phrase %>
  </p>
  <p>
    <strong>Translation:</strong>
    <%= @dictionary_entry.translation %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= @dictionary_entry.notes %>
  </p>
  <% if @dictionary_entry.media.attached? && @dictionary_entry.media.video? %>
    <%= tag :audio, src: url_for(@dictionary_entry.media), controls: true %>
  <% end %>
  <%= link_to 'Edit', edit_dictionary_entry_path(@dictionary_entry) %> |
  <%= link_to 'Back', dictionary_entries_path, "data-turbo-frame": "_top" %>
<% end %>
