<!DOCTYPE html>
<html>
  <head>
    <title>Abairt - Irish Language Learning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="min-h-screen">
      <!-- Navbar -->
      <%= render "nav" %>

      <!-- Flash Messages -->
      <%= render "flash" %>

      <!-- Main Content Area -->
      <main class="w-full">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
